{#
# This file is part of ansible-collection-squid
# Copyright (c) 2021 Markus Falb <markus.falb@mafalb.at>
#
# ansible-collection-squid is free software: you can redistribute it 
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# ansible-collection-squid is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with ansible-collection-squid.
# If not, see <https://www.gnu.org/licenses/>.
-#}

{% import 'mafalb.squid.macros.j2' as squid_macros -%}

# {{ ansible_managed }}

{% block ACLs %}
# Rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
{% for acl in squid_cfg.acl|dict2items %}
{{ squid_macros.acl(acl) }}
{% endfor %}

#
# Access Permission configuration:
#
{% for rule in squid_cfg.http_access %}
{{ squid_macros.http_access_directive(rule) }}
{% endfor %}
{% endblock %}

{% block Options %}
{% for option in squid_cfg.options %}
{{ squid_macros.option(option) }}
{% endfor %}
{% endblock %}

{% block Refresh_Patterns %}
#
# Add any of your own refresh_pattern entries above these.
#
{% for pattern in squid_cfg.refresh_pattern %}
{{ squid_macros.refresh_pattern_directive(pattern) }}
{% endfor %}
{% endblock %}
