{% macro acl_directive(acl) %}
{% for ace in acl.value.ACEs %}
acl {{ acl.key }} {{ acl.value.acltype }} {{ ace.value }}{% if ace.comment is defined %} {{ '#'|indent(22-(ace.value|string|length),true) }} {{ ace.comment }}{% endif %}

{% endfor %}
{% endmacro -%}

{% macro http_access_directive(rule) %}
http_access {{ rule.action }} {{ rule.aclname }}{% if rule.comment is defined %} {{ '#'|indent(22-(rule.aclname|string|length),true) }} {{ rule.comment }}{% endif %}
{% endmacro -%}

{% macro option_directive(option) %}
{% if option.comment is defined %}# {{ option.comment }}{% endif %}

{{ option.option }} {{ option.value }}
{% endmacro -%}

{% macro refresh_pattern_directive(pattern) %}
refresh_pattern {% if pattern.case_insensitive|default(false)|bool -%}-i {% endif %}{{ pattern.regex }} {{ pattern.min }} {{ pattern.percent }}% {{ pattern.max -}}
{% endmacro -%}

# {{ ansible_managed }}
#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
{% for acl in squid_cfg.acl|dict2items %}
{{ acl_directive(acl) }}
{% endfor %}

#
# Access Permission configuration:
#
{% for rule in squid_cfg.http_access %}
{{ http_access_directive(rule) }}
{% endfor %}


{% for option in squid_cfg.options %}
{{ option_directive(option) }}
{% endfor %}

#
# Add any of your own refresh_pattern entries above these.
#
{% for pattern in squid_cfg.refresh_pattern %}
{{ refresh_pattern_directive(pattern) }}
{% endfor %}
